<%= form_with(url: movies_path, method: 'get', local: true) do |f| %>
  <%= f.text_field :search, placeholder: "映画館を検索する" %>
  <%= f.submit "検索する" %>
  <%= f.radio_button :is_showing, 0 %>上映予定
  <%= f.radio_button :is_showing, 1 %>上映中
  <%= f.radio_button :is_showing, "" %>すべて
<% end %>
<% @movies.each do |movie| %>
  <td><img src="<%= movie.image_url %>" alt="#"></td>
  <%= movie.name %>
<% end %>

