<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<table>
  <tr>
    <th>ID</th>
    <th>映画タイトル</th>
    <th>公開年</th>
    <th>上映中か</th>
    <th>概要</th>
    <th>画像URL</th>
    <th>作成日時</th>
    <th>更新日時</th>
  </tr>

  <% @movies.each do |movie| %>
    <tr>
      <td><%= movie.id %></td>
      <td><%= movie.name %></td>
      <td><%= movie.year %></td>
      <td><%= movie.is_showing? ? "上映中" : "上映予定" %></td>
      <td><%= movie.description %></td>
      <td><img src="<%= movie.image_url %>" alt="#"></td>
      <td><%= movie.created_at %></td>
      <td><%= movie.updated_at %></td>
    </tr>
    <%= link_to "編集する", edit_admin_movie_path(movie.id) %>
  <% end %>
</table>
<%= link_to "登録画面へ", new_admin_movie_path %>
</body>
</html>
